<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlx.webserver.dao.JobDirectionDao">

	<insert id="save" parameterType="JobDirection">
		INSERT INTO
			job_direction(name)
		VALUES 
			(#{name})
	</insert>
	
	<delete id="deleteById" parameterType="Integer">
		DELETE FROM
			job_direction
		WHERE
			id = #{id}
	</delete>

	<select id="list" resultType="JobDirection">
		SELECT
			job_direction.id,job_direction.name
		FROM
			job_direction
	</select>

	<select id="getByName" resultType="JobDirection">
		SELECT
			job_direction.id,job_direction.name
		FROM
			job_direction
		WHERE
			name = #{name}
	</select>

	<select id="getById" resultType="JobDirection">
		SELECT
			job_direction.id,job_direction.name
		FROM
			job_direction
		WHERE
			id = #{id}
	</select>

	<select id="getJobTypeByDirectionId" resultType="jobType">
		SELECT
			job_type.id,
			job_type.name
		FROM
			job_type, job_direction_type
		WHERE
			job_direction_type.directionId = #{jobDirectionId}
			and job_direction_type.typeId = job_type.id
	</select>

</mapper>  