<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlx.webserver.dao.PermissionDao">


	<select id="getByRoleId" resultType="Permission" parameterType="Integer">
		select 
			permission.id,permission.name
		from
			permission,role_permission
		where
			role_permission.roleId = #{roleId}
			and permission.id = role_permission.permissionId
	</select>


</mapper>  